:root {
  --back: #F2F1EE;
  --fore: #1B1B1A;
}

body {
  background-color: var(--back);
  transform: rotate(-2.5deg);
}

::selection{
  background-color:#E1FF41;
  color:#151806;
}

#avatar{
  max-width: 16rem;
  transition-duration: 0.7s;
  transition-delay: 0.1s;
  border-radius: 1.5px;
}

.avatar{
  width: 16rem;
  height: 16rem;
  margin-top: 1.25rem;
  background-image: url(files/me-still.gif);
  background-size: 100%;
  border-radius: 1.5px;
}

#page {
  margin: auto;
  width: 42.8rem;
  padding: 10%;
  background-color: var(--back);
  height: 60vh;
}

h1 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: var(--fore);
  letter-spacing: 0.1rem;
  margin-bottom: -0.5rem;
}

h2 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
  -webkit-text-stroke: 1px var(--fore);
  color: transparent;
  max-width: 78%;
  letter-spacing: 0.2rem;
  margin-bottom: -0.1rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

p {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--fore);
  max-width: 43rem;
  margin-top: .6rem;
}

#links {
  max-width: 28.5rem;
  margin-top: 0.3rem;
  margin-bottom: 4rem;
  height: 11rem;
}

#links a{
  text-decoration:none;
  font-family: roc-grotesk, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.btn-1 {
  float: left;
  width: 13rem;
  height: 4.5rem;
  border-radius: 1.5px;
  background: var(--fore);
  color: var(--back);
  border: 1px solid var(--fore);
  text-align: center;
  margin: 1rem 1rem 0 0;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.btn-1:hover {
  background: transparent;
  color: var(--fore);
}

.btn-2 {
  float: left;
  width: 13rem;
  height: 4.5rem;
  border-radius: 1.5px;
  background: transparent;
  color: var(--fore);
  border: 1px solid var(--fore);
  text-align: center;
  margin: 1rem 1rem 0 0;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.btn-2:hover {
  background: var(--fore);
  color: var(--back);
}

#email{
  -webkit-user-select: all;
  user-select: all;
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.11em;
  line-height: 4rem;
  text-align: left;
  color: var(--fore);
  text-decoration: none;
}

@media only screen and (orientation: landscape) {
  html {
    font-size:50%;
  }

  #avatar{
    max-width: 16rem;
    opacity: 0;
  }

  #avatar:hover{
    opacity:100;
  }
}
