body {
  background-color: #1F2126;
}

#avatar{
  max-width: 16rem;
  margin-top: 1.25rem;
}

#page {
  margin: auto;
  width: 42.8rem;
  padding: 10%;
  background-color: #1F2126;
  height: 75vh;
}

h1 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #B2B2B2;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5rem;
  -webkit-text-stroke: 1px #B2B2B2;
  color: transparent;
  max-width: 78%;
  letter-spacing: 0.2rem;
  margin-bottom: -0.1rem;
}

p {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #B2B2B2;
  max-width: 43rem;
  margin-top: .25rem;
}

#links {
  max-width: 28.5rem;
  margin-bottom: 3rem;
  height: 11rem;
}

#links a{
  text-decoration:none;
  font-family: roc-grotesk, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 4.55rem;
  text-transform: uppercase;
}

.btn-1 {
float: left;
width: 13rem;
height: 4.5rem;
border-radius: 1.5px;
background: #b4b4b4;
border: 1px solid #b4b4b4;
text-align: center;
margin: 1rem 1rem 0 0;
}

.btn-1 a {
color: #1f2126;
vertical-align: text-top;
}

.btn-2 {
float: left;
width: 13rem;
height: 4.5rem;
border-radius: 1.5px;
background: transparent;
border: 1px solid #b4b4b4;
text-align: center;
margin: 1rem 1rem 0 0;
}

.btn-2 a {
color: #b4b4b4;
vertical-align: text-top;
}

#email{
font-family: roc-grotesk-wide, sans-serif;
font-weight: 700;
font-size: 2.5rem;
letter-spacing: 0.11em;
line-height: 4rem;
text-align: left;
color: #b4b4b4;
}

@media only screen and (min-width: 800px) {
  html {
    font-size:50%;
  }
}
